@charset "utf-8";

/* common */
#header{
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 10;
    margin-bottom: 60px;
}

.header_wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.gnb{
    display: flex;
    gap: 14px;
}

.gnb>li{
position: relative;
padding: 0 4px;
}

.snb{
    position:absolute;
    display: none;
}
.gnb:hover .snb{
    display: block;
}
/* tablet 768px */

/* mobile lg 480px */
/* 햄버거 메뉴*/

/* mobile sm 360px */