@charset "utf-8";
.main_slider{
    max-width:1280px;
    margin: 0 auto;
    margin-bottom: 80px;
    box-sizing: border-box;
}
.main_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.main_title h2{
    line-height: 48px;
}
.main_title .btn{
    display: flex;
    justify-content: flex-end;
}
.main_title .btn>button{
    width: 48px;
    height: 48px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 0;
    text-indent: -999px;
    border: 2px solid var(--k700-color);
    border-radius: 50%;
}
.main_title .btn .stop{
    background: url('../images/main/pause.svg') no-repeat center center;
    display: none;
}
.main_title .btn .play{
    background: url('../images/main/play.svg') no-repeat 12px center;
}
.main_title .btn a{
    display: block;
    width: 160px;
    height: 48px;
    font-size: 0;
    text-indent: -999px;
    box-sizing: border-box;
    border: 2px solid var(--k700-color);
    border-radius: 15px;
    background: url('../images/main/logo_CokePLAY.svg') no-repeat center center;
    background-size: 70%;
}
.main_slider .subtitle-section{
    color: #fff;
}
.subtitle-img01{
    width: 100%;
    height: 100%;
    background: url(../images/main/main_slider01.png);
}
.subtitle-img02{
    width: 100%;
    height: 100%;
    background: url(../images/main/main_slider02.png);
}
.subtitle-img03{
    width: 100%;
    height: 100%;
    background: url(../images/main/main_slider03.png);
}
.subtitle-img04{
    width: 100%;
    height: 100%;
    background: url(../images/main/main_slider04.png);
}
.subtitle-img05{
    width: 100%;
    height: 100%;
    background: url(../images/main/main_slider05.png);
}

.rec_wrap{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.rec_wrap h2{
    margin-bottom: 20px;
}
.rec_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rec_list .basic-card-section{
    width: 32%;
    margin-bottom: 20px;
}
.rec_list .basic-card-section img{
    width: 100%;
}
.latest_wrap{
    margin-bottom: 80px;
}
.product_wrap{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.product_wrap h2{
    margin-bottom: 20px;
}
.product_slider>ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.product_slider>ul>li{
    width: 25%;
}
.top_slider{
    margin-bottom: 32px;
}
.product_slider .item_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    border: 1px solid var(--k200-color);
    }
.item_wrap .item_text{
    width: 68%;
    text-align: center;
}
.item_wrap .item_text h3{
    margin-bottom: 18px;
}
.item_wrap .item_img{
    width: 32%;
}
.item_wrap .item_img img{
    width: 88px;
    height: 144px;
}
.content_wrap{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.history_wrap{
    margin-bottom: 40px;
}
.history_wrap h2{
    margin-bottom: 20px;
}
.history_cont{
    display: flex;
    justify-content: space-between;
}
.history_cont .left_cont{
    width: 50%;
    height: 300px;
    margin-right: 20px;
    background: var(--k100-color);
    border-radius:15px;
    overflow: hidden;
    background: url('../images/main/231016_Full-Hero_History_1440x810.jpg');
    background-size: cover;
}
.history_cont .left_cont img{
    width: 100%;
    height: 100%;
}
.history_cont .right_cont{
    width: 50%;
    display: flex;
}
.history_cont .right_cont .cont_01{
    width: 50%;
    height: 300px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.history_cont .right_cont .cont_01 p{
    padding: 40px;
    line-height: 24px;
    font-weight: bold;
}
.history_cont .right_cont .cont_02{
    width: 50%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    background: url('../images/main/230912_Content_History_1_1102x827.png');
    background-size: cover;
    
}
.history_cont .right_cont .cont_02 img{
    width: 100%;
    height: 100%;
}
.brand_wrap h2{
    margin-bottom: 20px;
}
.brand_cont{
    display: flex;
    justify-content: space-between;
}
.brand_cont .left_cont{
    width: 50%;
    height: 336px;
    display: flex;
    margin-right: 20px;
}
.brand_cont .left_cont .cont_01{
    width: 50%;
    height: 300px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand_cont .left_cont .cont_01 p{
    padding: 20px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
}
.brand_cont .left_cont .cont_02{
    width: 50%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    background: url('../images/main/230418-newjeans-campaign-kakao-800x800.jpg');
    background-size: cover;
}
.brand_cont .left_cont .cont_02 img{
    width: 100%;
    height: 100%;
}
.brand_cont .right_cont{
    width: 50%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    background: url('../images/main/231016_full-hero_brand-story_1440x810.jpg');
    background-size: cover;
}
.brand_cont .right_cont img{
    width: 100%;
    height: 100%;
}
.social_value{
    margin-bottom: 120px;
}
.social_value h2{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.social_deco{
    width: 100%;
}
.deco_cont{
    max-width: 1280px;
    margin: 0 auto; 
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.social_deco .cont_01{
    width: 20%;
    height: 160px;
    margin-right: 25%;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    background: url('../images/main/james-yarema-wQFmDhrvVSs-unsplash.jpg');
    background-size: cover;
}
.social_deco .cont_text{
    position: absolute;
    top: 50px;
    left: 25%;
    font-size: 20px;
    font-weight: bold;
}

.social_deco .cont_02{
    width: 40%;
    height: 200px;
    margin-right: 50px;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    background: url('../images/main/togather.jpg') center bottom;
    background-size: cover;
}

.social_deco .cont_03{
    width: 400px;
    height: 80px;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    background: url('../images/header/logo-red.svg');
}

.social_deco .cont_03 p{
    word-wrap: wrap;
}
/* tablet 1200px */
@media (max-width:1200px){
    .home{
        padding: 0 20px;
        box-sizing: border-box;
    }
}

/* tablet 768px */
@media (max-width:768px){
    .home{
        padding: 0 20px;
        box-sizing: border-box;
    }
}