@charset "utf-8";

#main{
    position: relative;
    z-index: 1;
}
.layout{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.layout-wrap{
    /* display: flex; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media (max-width: 375px){
    #footer{
        height: 560px;
    }
}