@charset "utf-8";
.social_title_cont {
    margin-bottom: 40px;
}
.social_title_cont>h2{
    text-align: center;
    margin-bottom: 40px;
}
.social_text_cont{
    max-width: 1064px;
    margin: 0 auto;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.img_cont{
    width: 50%;
}

.text_cont{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_report_cont{
    margin-bottom: 40px;
}

.social_report_cont .line{
max-width: 1064px;
height: 2px;
margin: 0 auto;
border-top: 2px solid var(--k700-color);
box-sizing: border-box;
}

.social_tab_cont{
    max-width: 1064px;
    margin: 0 auto;
}