@charset "utf-8";
.social_title_cont{
    max-width: 1280px;
    margin: 0 auto;
}
.social_title_cont {
    margin-bottom: 40px;
}
.social_title_cont>h2{
    text-align: center;
    margin-bottom: 40px;
}

.social_text_cont{
    max-width: 1064px;
    margin: 0 auto;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.img_cont{
    width: 50%;
}
.text_cont{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_report_cont{
    margin-bottom: 80px;
}
.social_report_cont .cont01{
    border-top: 2px solid var(--k800-color);
    border-bottom: 2px solid var(--k800-color);
}
.social_report_cont .cont02{
    border-bottom: 2px solid var(--k800-color);
}

.social_tab_cont{
    max-width: 1064px;
    margin: 0 auto;
    margin-bottom: 80px;
}